<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project1.Properties.Settings.KTXManagerConnectionString1"
            connectionString="Data Source=DESKTOP-NVLLGFI\SQLEXPRESS;Initial Catalog=KTXManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>